@charset "utf-8";

@media (min-width : 1024px) {
	* {
		overflow: hidden;
		box-sizing: border-box;
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	}

	a {
		color: #318CE7;
	}

	a:visited {
		text-decoration: none;
	}

	.left {
		float: left;
		width: 50%;
		background-color:rgb(47, 49, 54);
		height: 100vh;
		cursor: pointer;
	}

	.splitleftimage {
		width: 100%;
		height: 100vh;
		cursor: pointer;
	}

	.right {
		background-color:#16695d;
		float: right;
		width: 50%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.bottom {
		clear: both;
		border-top: 1px solid black;
		background-color: rgb(90, 90, 90);
		padding-bottom: 150px;
	}

	.logintextdiv {
		height: 25px;
		margin-bottom: 10px;
		text-align: left;
		font-weight: bold;
		color: #29ab97;
	}

	.loginsectiondiv{
		padding: 20px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		background-color: rgb(54, 57, 63);
		border-radius: 10px;
	}

	.input-container {
        position: relative;
        margin-bottom: 10px;
    }

    .input-container label {
        position: absolute;
        top: 15px;
        left: 0px;
        font-size: 14px;
        color: #6b6b6b;
        /* pointer-event:none; */
        transition: all 0.3s ease-in-out;
    }

    .input-container input {
        border: 0;
        border-bottom: 3px solid #555;
        background: transparent;
        width: 320px;
        padding: 10px 0 0px 0;
        font-size: 14px;
        color: #fff;
		z-index: 10;
		height: 36px;
    }

    .input-container input:focus {
        outline: none;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to right,#29ab97,#63D471) 1;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .input-container input:focus~label,
    .input-container input:valid~label {
        top: 0px;
        font-size: 10px;
        color: #00cbac;
        font-weight: bold;
    }

	.loginbuttondiv{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.loginbutton {
		background-color:#29ab97;
		border-radius: 5px;
		border: none;
		padding: 10px 0px;
		width: 320px;
		height: 35px;
		color: white;
		font-weight: bold;
		cursor: pointer;
		margin-top: 20px;
		font-size: 14px;
	}

	.linkedwords {
		text-align: center;
		margin: 10px 0px;
	}

	.loginbutton:hover {
		background-color: #1d786a;
		transition: 0.3s;
	}

	#ptag1{
		color:orangered;
		font-weight: bold;
		text-align: center;
		font-size: 14px;
		display: flex;
		justify-content: center;
		margin: 10px 0px;
	}

	#ptag2{
		color:#35d500;
		font-weight: bold;
		font-size: 14px;
		display: flex;
		justify-content: center;
		margin: 10px 0px;
		text-align: center;
	}

}

@media (max-width: 1023px) {
	body{
		background-color:#16695d;
	}
	* {
		overflow: hidden;
		box-sizing: border-box;
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	}

	.right {
		/* background: linear-gradient(150deg,#16695c,#24b9a3); */
		background-color:#16695d;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.logintextdiv {
		height: 25px;
		margin-bottom: 10px;
		text-align: left;
		font-weight: bold;
		color: #29ab97;
	}
	
	.loginsectiondiv{
		padding: 20px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		background-color: rgb(54, 57, 63);
		border-radius: 10px;
	}

	.splitleftimage {
		display: none;
	}

	.input-container {
        position: relative;
        margin-bottom: 10px;
    }

    .input-container label {
        position: absolute;
        top: 15px;
        left: 0px;
        font-size: 14px;
        color: #6b6b6b;
        /* pointer-event:none; */
        transition: all 0.3s ease-in-out;
    }

    .input-container input {
        border: 0;
        border-bottom: 3px solid #555;
        background: transparent;
        width: 280px;
        padding: 10px 0 0px 0;
        font-size: 14px;
        color: #fff;
		z-index: 10;
		height: 36px;
    }

    .input-container input:focus {
        outline: none;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to right,#29ab97,#63D471) 1;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .input-container input:focus~label,
    .input-container input:valid~label {
        top: 0px;
        font-size: 10px;
        color: #00cbac;
        font-weight: bold;
    }

	.loginbutton {
		background-color:#29ab97;
		border-radius: 5px;
		border: none;
		padding: 10px 0px;
		width: 280px;
		color: white;
		font-weight: bold;
		cursor: pointer;
		margin-top: 10px;
		font-size: 14px;
		height: 35px;
	}

	.loginbuttondiv{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	a {
		color: #318CE7;
	}

	a:visited {
		text-decoration: none;
	}

	.linkedwords {
		text-align: center;
		margin: 10px 0px;
	}

	.loginbutton:hover {
		background-color:#1d786a;
		transition: 0.3s;
	}

	.bottom {
		clear: both;
		border-top: 1px solid black;
		background-color: rgb(90, 90, 90);
		padding-bottom: 150px;
	}

	#ptag1{
		color: orangered;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
		display: flex;
		justify-content: center;
		margin: 10px 0px;
	}

	#ptag2{
		color:#35d500;
		font-weight: bold;
		font-size: 14px;
		display: flex;
		justify-content: center;
		margin: 10px 0px;
		text-align: center;
	}
}