@charset "utf-8";

@media (min-width : 751px) {
	* {
		box-sizing: border-box;
		font-family: 'Ubuntu';
	}

	a {
		color: #29ab97;
	}

	a:visited {
		text-decoration: none;
	}

	.left {
		float: left;
		width: 50%;
		background-color: #CBBFBB;
		height: 100vh;
	}

	.splitleftimage {
		width: 100%;
		height: 100vh;
	}

	.right {
		background-color: rgb(53, 53, 53);
		float: right;
		width: 50%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.bottom {
		clear: both;
		border-top: 1px solid black;
		background-color: rgb(90, 90, 90);
		padding-bottom: 150px;
	}


	#logintext {
		font-weight: bold;
		color: #29ab97;
	}

	.logintextdiv {
		height: 25px;
		margin-bottom: 10px;
		text-align: center;
	}

	.inputbox {
		padding: 10px 10px;
		border-radius: 10px;
		width: 30vw;
		outline: none;
		color: white;
		background-color: rgb(66, 70, 77);
		border: 1px solid #29ab97;
	}

	#passwordinput {
		margin: 10px 0px;
	}

	.loginbuttondiv{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.loginbutton {
		background-color: #1d786a;
		border-radius: 5px;
		border: none;
		height: 25px;
		width: 320px;
		color: white;
		font-weight: bold;
		cursor: pointer;
		margin-top: 10px;
	}

	.linkedwords {
		text-align: center;
		margin: 10px 0px;
	}

	.loginbutton:hover {
		background-color: #29ab97;
		transition: 0.3s;
	}

	#ptag{
		color: red;
		font-weight: bold;
		font-size: 15px;
		display: flex;
		justify-content: center;
		margin: 10px 0px;
	}

	#ptags{
		color: rgb(0, 255, 0);
		font-weight: bold;
		font-size: 15px;
		display: flex;
		justify-content: center;
		margin: 10px 0px;
	}

}

@media (max-width: 750px) {
	* {
		box-sizing: border-box;
		font-family: 'Ubuntu';
	}

	.right {
		background-color: rgb(53, 53, 53);
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#logintext {
		font-weight: bold;
		color: #29ab97;
		font-size: 20px;
	}

	.logintextdiv {
		height: 25px;
		margin-bottom: 10px;
		text-align: center;
	}

	.splitleftimage {
		display: none;
	}

	.inputbox {
		padding: 10px 10px;
		border-radius: 10px;
		width: 60vw;
		outline: none;
		color: white;
		background-color: rgb(66, 70, 77);
		border: 1px solid #29ab97;
	}

	#passwordinput {
		margin: 10px 0px;
	}

	.loginbutton {
		background-color: #1d786a;
		border-radius: 100px;
		border: none;
		padding: 10px 0px;
		width: 30vw;
		color: white;
		font-weight: bold;
		cursor: pointer;
		margin-top: 10px;
	}

	.loginbuttondiv {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	a {
		color: #29ab97;
	}

	a:visited {
		text-decoration: none;
	}

	.linkedwords {
		text-align: center;
		margin: 10px 0px;
	}

	.loginbutton:hover {
		background-color: #29ab97;
		transition: 0.3s;
	}

	.bottom {
		clear: both;
		border-top: 1px solid black;
		background-color: rgb(90, 90, 90);
		padding-bottom: 150px;
	}

	#ptag{
		color: red;
		font-weight: bold;
		font-size: 15px;
		display: flex;
		justify-content: center;
		margin: 10px 0px;
	}

	#ptags{
		color: rgb(0, 255, 0);
		font-weight: bold;
		font-size: 15px;
		display: flex;
		justify-content: center;
		margin: 10px 0px;
	}
}