<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% comment %} <meta name="Index" content="width=device-width, initial-scale=1.0"> {% endcomment %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Forgot Password</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png'%}"/>
	<link rel="stylesheet" href="{% static 'css/forgotpassword.css'%}"/>
	<script scr="{% static 'js/forgotpassword.js'%}" type="text/javascript"></script>
</head>

<body style="margin:0">
	<div class="left split">
		<div class="splitleftimage">
			<img class="splitleftimage" src="{% static 'images/logo.png'%}" alt="split left image">
		</div>
	</div>
	<div class="right split">
		<div class="loginsectiondiv">
			<div class="logintextdiv">Forgot Password</div>
			<form action="/forgotpassword/" method="post">
				{% csrf_token %}
				<div class="input-container">
					<input class="inputbox" name="email" type="text" Required maxlength = "60" >
					<label>Email</label>
				</div>
				<div class="loginbuttondiv">
					<button class="loginbutton" type="submit">Send Email</button>
				</div>
			</form>
			<div id="ptage">{{emailsent}}</div>
			<div class="linkedwords">
				<a href="{% url 'index' %}" id="signup">Back to Login</a>
			</div>
		</div>
	</div>
</body>

</html>