<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% comment %} <meta name="Index" content="width=device-width, initial-scale=1.0"> {% endcomment %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Follow Beside Me</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png'%}"/>
	<link rel="stylesheet" href="{% static 'css/resetpassword.css'%}"/>
</head>

<body style="margin:0">
	<div class="left split">
		<div class="splitleftimage">
			<img class="splitleftimage" src="{% static 'images/logo.png'%}" alt="split left image">
		</div>
	</div>
	<div class="right split">
		<div class="loginsectiondiv">
			<div class="logintextdiv">
				<p id="logintext">Reset Password</p>
			</div>
			<form action="" method="post">
				{% csrf_token %}
				<div class="inputboxdiv">
					<input class="inputbox" name="password" id="passwordinput" type="password" placeholder="New Password" maxlength = "100" Required>
				</div>
				<div class="inputboxdiv">
					<input class="inputbox" name="confirmpassword" id="passwordinput" type="password" placeholder="Confirm Password" maxlength = "100" Required>
				</div>
				<div class="loginbuttondiv">
					<button class="loginbutton" type="submit">Reset Password</button>
				</div>
			</form>
			<div id="ptag">{{errormessage}}</div>
			<div id="ptags">{{successmessage}}</div>
			
		</div>
	</div>

	<div class="bottom split">

	</div>
</body>

</html>